<div class="staff text-center">
    <div class="mb-4"><img [src]="teacher.img" alt="Image" class="img"></div>
    <div class="staff-body">
      <h3 class="staff-name">{{teacher.firstName}}</h3>
      <span class="d-block position mb-4">{{teacher.speciality}}</span>
      <p class="mb-4">Contact : {{teacher.tel}}</p>
      <div class="social">
        <a href="#" class="mx-2"><span class="icon-facebook"></span></a>
        <a href="#" class="mx-2"><span class="icon-twitter"></span></a>
        <a href="#" class="mx-2"><span class="icon-linkedin"></span></a>
      </div>
    </div>
  </div>