<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">speciality</th>
        <th scope="col">Email</th>
        <th scope="col">Adresse</th>
        <th scope="col">Tel</th>
        <th scope="col" >Action</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers ">
        
        <td>{{teacher.firstName}}</td>
        <td>{{teacher.speciality}}</td>
        <td>{{teacher.mail}}</td>
        <td>{{teacher.adresse}}</td>
        <td>{{teacher.tel}}</td>
        <td style="display: flex;">
         <span *ngIf="teacher.status!='OK'"><button  type="button" class="btn btn-outline-success"(click)="updateStatus(teacher._id)">Validate</button> </span>
          <button style="margin-left:3% ;" type="button" class="btn btn-outline-danger"(click)="deleteTeacher(teacher._id)">Delete</button>
        </td>
         </tr>
   
    </tbody>
  </table>
  <div style="margin-left: 20%; margin-top: 3%;">
    <jw-pagination [items]="teachers" [pageSize]="7" (changePage)="onChangePage($event)"></jw-pagination>
  </div>